@import '../../styles/shared.scss';

#main {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: $primary-font;
  width: 100%;
  min-height: 100vh;
}

#pane-container {
  background: orange;
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#footer {
  background: rgba(0, 0, 0, 0.1);
  flex: 0;
  text-align: center;
  width: 100%;
}
